<style>
         .larkspur-video-text-sec {
           padding: 30px 0;
         }

         .larkspur-video-container {
           max-width: 1600px;
           margin: 0 auto;
           padding: 0 40px;
         }

         .larkspur-video-flex {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
      }

         .larkspur-text {
           width: 44%;
         }
        .video-title-text {
          font-size: 44px;
          font-weight: 400;
          margin: 12px 0 30px 0;
          color: #000;
          line-height: 100%;
      }

      .video-text-description {
        width: 94%;
    }

    .video-text-description p {
      font-size: 16px;
      color: #000;
      font-weight: 400;
      margin: 0 0 16px;
      letter-spacing: 0;
    }
    .larkspur-video {
      width: 47%;
    }
    .video-main-second-div {
      padding-top: 81%;
      position: relative;
     }
    .video-plays {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      object-fit: cover;
      right: 0;
      border-radius: 20px;
    }

    @media screen and (max-width: 767px){
    .larkspur-video {
      width: 100%;
  }

  .larkspur-text {
      width: 100%;
  }

  .larkspur-video-container {
      padding: 0 10px;
  }

  .video-text-description p {
      font-size: 14px;
      color: #000;
      font-weight: 400;
      margin: 0 0 16px;
      letter-spacing: 0;
  }

  .video-title-text {
      font-size: 32px;
      font-weight: 500;
      margin: 12px 0 20px 0;
      color: #000;
      line-height: 100%;
  }


    }
</style>
<section class="larkspur-video-text-sec">
  <div class="larkspur-video-container">
    <div class="larkspur-video-flex">
      <div class="larkspur-text">
        <div class="text-heading">
          <h3 class="video-title-text">
            {{ section.settings.heading_text }}
          </h3>
        </div>

        <div class="video-text-description">
          {{ section.settings.text_description }}
        </div>
      </div>

      <div class="larkspur-video">
        <div class="video-main-upper">
          <div class="video-main-second-div">
            {% if section.settings.larkspur_video != blank %}
              <video
                autoplay
                playsinline
                muted
                loop
                src="{{ section.settings.larkspur_video.sources[0].url }}"
                controls=""
                class="video-plays"
                loading="eager"
                poster="//larkspurbaby.com/cdn/shop/files/poster-image-video.png?v=1754292266"
              ></video>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Video Text",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text"
    },
    {
      "type": "richtext",
      "id": "text_description",
      "label": "Text Description"
    },
    {
      "type": "video",
      "id": "larkspur_video",
      "label": "Larkspur Video"
    }
  ],
  "presets": [
    {
      "name": "Larkspur Video Text"
    }
  ]
}
{% endschema %}
