<section class="larkspur-baby-sec">
  <div class="larkspur-baby-container">
    <header class="larkspur-baby-header">
      <div class="hamburger-search-icon">
        <button class="hamburger-btn" id="hamburgerBtn">
          <i class="fas fa-bars"></i>
        </button>
        <a href="#" class="header-icon search-icon mobile-search-btn">
          <span class="svg-wrapper cart-icon search-hover-svg">
            <i class="fas fa-search"></i>
          </span>
        </a>
      </div>
      <a href="#" class="larkspur-logo-main">
        <div class="larkspur-baby-logo">
          {% if section.settings.larkspur_logo != blank %}
            <img src="{{ section.settings.larkspur_logo | img_url: "master" }}" alt="Logo" class="header-heading-logo">
          {% endif %}
        </div>
      </a>

      <nav class="header-navbar-menu" id="navbarMenu">
        <button class="menu-close-btn" id="menuCloseBtn">
          <i class="fas fa-times"></i>
        </button>
        <ul class="mega-menu">
          {% for block in section.blocks %}
            {% case block.types %}
              {% when 'New' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">New</span>
                  </a>
                </li>
              {% when 'Shop' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">Shop</span>
                  </a>

                  <ul class="dropdown-menu-content">
                    <li>
                      <a href="#" class="dropdown-child-link">Footies</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Rompers</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Sleep Sacks</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Sleep Sacks Walkers</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Toddler PJs</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Blankets</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Crib Sheets</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Headbands</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Bodysuits</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Dresses</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Jogger Sets</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Hoodies</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Organic Cotton Daywear</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Women's</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Men's</a>
                    </li>
                  </ul>
                </li>
              {% when 'Collections' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">Collections</span>
                  </a>
                  <ul class="dropdown-menu-content">
                    <li>
                      <a href="#" class="dropdown-child-link">Tiny Racers</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Milk and Cookies</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Grounded Play</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Little Collective</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Aectic Adventure</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Aectic Adventures</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Wild Cats</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Enchanted Forest</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Harvest</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Tie-Dye 25'</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Signature</a>
                    </li>
                  </ul>
                </li>
              {% when 'Family' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">Family Matching</span>
                  </a>
                  <ul class="dropdown-menu-content">
                    <li>
                      <a href="#" class="dropdown-child-link">Mommy & Me</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Daddy & Me</a>
                    </li>
                  </ul>
                </li>
              {% when 'More' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">More Goodies</span>
                  </a>

                  <ul class="dropdown-menu-content">
                    <li>
                      <a href="#" class="dropdown-child-link">Magic Points </a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Gift Cards</a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-child-link">Blog</a>
                    </li>
                  </ul>
                </li>
              {% when 'Sale' %}
                <li class="drop-down-list">
                  <a href="#" class="mega-menu-list-item">
                    <span class="mega-menu-list-item-title">Sale</span>
                  </a>
                </li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>

      <div class="header-icons">
        <a href="#" class="header-icon">
          <span class="svg-wrapper cart-icon cart-hover-svg">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </a>

        <a href="#" class="header-icon search-icon desktop-icon">
          <span class="svg-wrapper cart-icon search-hover-svg">
            <i class="fas fa-search"></i>
          </span>
        </a>

        <div class="search" id="searchBox">
          <div class="search-wrapper">
            <div class="search-box">
              <input type="text" placeholder="Search">
              <span class="search-icon hover-icon">
                <i class="fas fa-search"></i>
              </span>
            </div>

            <span class="icon-clear-icon close-icon" id="closeSearch" title="Close search">
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>

        <a href="#" class="header-icon">
          <span class="svg-wrapper cart-icon mens-hover-svg">
            <i class="fas fa-user"></i>
          </span>
        </a>
      </div>
    </header>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Header",
  "settings": []
}
{% endschema %}
