<section class="larkspur-baby-sec">
  <div class="larkspur-baby-container">
    <header class="larkspur-baby-header">
      <div class="hamburger-search-icon">
        <button class="hamburger-btn" id="hamburgerBtn">
          <i class="fas fa-bars"></i>
        </button>
        <a href="#" class="header-icon search-icon mobile-search-btn">
          <span class="svg-wrapper cart-icon search-hover-svg">
            <i class="fas fa-search"></i>
          </span>
        </a>
      </div>
      <a href="#" class="larkspur-logo-main">
        <div class="larkspur-baby-logo">
          <img src="./larkspur-image.svg" alt="Logo" class="header-heading-logo">
        </div>
      </a>

      <nav class="header-navbar-menu" id="navbarMenu">
        <button class="menu-close-btn" id="menuCloseBtn">
          <i class="fas fa-times"></i>
        </button>
        <ul class="mega-menu">
          <li class="mega-menu-list mega-menu-list-1">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">New</span>
            </a>
          </li>
          <li class="mega-menu-list mega-menu-list-2">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">Shop</span>
            </a>

            <div class="mega-menu-content">
              <div class="mega-menu-container">
                <div class="mega-menu-flex">
                  <div class="mega-menu-content-box box-1">
                    <div class="menu-with-title">
                      <a href="#" class="menu-title">SLEEPWEAR</a>
                      <ul class="customer-dropdown-menu">
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Convertible Footed Rompers </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Footies </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Rompers </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Sleep Sacks </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Sleep Sacks Walkers </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Todddler PJs </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Plankets </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-menu-content-box box-2">
                    <div class="menu-with-title">
                      <a href="#" class="menu-title">DAYWEAR</a>
                      <ul class="customer-dropdown-menu">
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Bodysuits </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Dresses </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Joger Sets </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Zip Hoodies </a>
                        </li>
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Organic Cotton </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-menu-content-box box-3">
                    <div class="menu-with-title">
                      <a href="#" class="menu-title">NURSERY</a>
                      <ul class="customer-dropdown-menu">
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Crib Sheets </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-menu-content-box box-4">
                    <div class="menu-with-title">
                      <a href="#" class="menu-title">ACCESSORIES</a>
                      <ul class="customer-dropdown-menu">
                        <li class="customer-menu-list">
                          <a href="#" class="customer-menu-list-item"> Headbands </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="drop-down-list">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">Collections</span>
            </a>
            <ul class="dropdown-menu-content">
              <li>
                <a href="#" class="dropdown-child-link">Milk and Cookies</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Grounded Play</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Little Collective</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Aectic Adventure</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Aectic Adventures</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Wild Cats</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Enchanted Forest</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Harvest</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Tie-Dye 25'</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Signature</a>
              </li>
            </ul>
          </li>
          <li class="drop-down-list">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">Family Matching</span>
            </a>
            <ul class="dropdown-menu-content">
              <li>
                <a href="#" class="dropdown-child-link">Mommy & Me</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Daddy & Me</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Women's</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Men's</a>
              </li>
            </ul>
          </li>
          <li class="drop-down-list">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">More Goodies</span>
            </a>

            <ul class="dropdown-menu-content">
              <li>
                <a href="#" class="dropdown-child-link">Magic Points </a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Gift Cards</a>
              </li>
              <li>
                <a href="#" class="dropdown-child-link">Blog</a>
              </li>
            </ul>
          </li>
          <li class="mega-menu-list mega-menu-list-1">
            <a href="#" class="mega-menu-list-item">
              <span class="mega-menu-list-item-title">Doorbuster</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="header-icons">
        <a href="#" class="header-icon">
          <span class="svg-wrapper cart-icon cart-hover-svg">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </a>

        <a href="#" class="header-icon search-icon desktop-icon">
          <span class="svg-wrapper cart-icon search-hover-svg">
            <i class="fas fa-search"></i>
          </span>
        </a>

        <div class="search" id="searchBox">
          <div class="search-wrapper">
            <div class="search-box">
              <input type="text" placeholder="Search">
              <span class="search-icon hover-icon">
                <i class="fas fa-search"></i>
              </span>
            </div>

            <span class="icon-clear-icon close-icon" id="closeSearch" title="Close search">
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>

        <a href="#" class="header-icon">
          <span class="svg-wrapper cart-icon mens-hover-svg">
            <i class="fas fa-user"></i>
          </span>
        </a>
      </div>
    </header>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Header",
  "settings": []
}
{% endschema %}
