<style>
    .annuncement-bar-sec{
      background: #000,
      overflow: hidden;
    }

    .annoucement-bar-container{
        max-width: 100%;
    }

    .annoucement-bar-flex{
      display: flex;
      width: max-content;
      animation: announcementSlide 18s linear infinite;
    }

    .announcement-text{
      color: #fff;
      white-space: nowrap;
      font-size: 16px;
      padding: 12px 20px;
      font-weight: 400;
    }

    @keyframes announcementSlide {
      from {
      tranform: translateX(100%);
      }
      to{
      tranform: translateX(-100%);
      }
    }


    @media (max-width: 768px) {
    .announcement-text {
      font-size: 14px;
      padding: 10px 80px;
    }

    .annoucement-bar-flex {
      animation-duration: 28s; /* slow on mobile */
    }
  }
</style>
<section class="annuncement-bar-sec">
  <div class="annoucement-bar-container">
    <div class="annoucement-bar-flex">
      {% for block in section.blocks %}
        <div class="announcement-text">
          {{ block.settings.announcement_text }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
"name": "Announcement Bar"
}
{% endschema %}
