<style>
    
</style>
<section class="larkspur-video-text-sec">
  <div class="larkspur-video-container">
    <div class="larkspur-video-flex">
      <div class="larkspur-text">
        <div class="text-heading">
          <h3 class="video-title-text">
            {{ section.settings.heading_text }}
          </h3>
        </div>

        <div class="video-text-description">
          {{ section.settings.text_description }}
        </div>
      </div>

      <div class="larkspur-video">
        <div class="video-main-upper">
          <div class="video-main-second-div">
            {% if section.settings.larkspur_video != blank %}
              {{
                section.settings.larkspur_video
                | video_tag: autoplay: false, loop: true, controls: true, playsinline: true
              }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Video Text",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text"
    },
    {
      "type": "richtext",
      "id": "text_description",
      "label": "Text Description"
    },
    {
      "type": "video",
      "id": "larkspur_video",
      "label": "Larkspur Video"
    }
  ],
  "presets": [
    {
      "name": "Larkspur Video Text"
    }
  ]
}
{% endschema %}
