<style>
  .annuncement-bar-sec{
    background: #000,
    overflow: hidden;
  }

  .annoucement-bar-container{
      max-width: 100%;
  }

  .annoucement-bar-flex{
    display: flex;
    width: max-content;
    animation: announcementSlide 18s linear infinite;
  }

  .announcement-text{
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    padding: 12px 20px;
    font-weight: 400;
  }
</style>
<section class="annuncement-bar-sec">
  <div class="annoucement-bar-container">
    <div class="annoucement-bar-flex">
      <div class="announcement-text">🔥 Free Shipping on Orders Over $50</div>
      <div class="announcement-text">⭐ Limited Time Offer – Shop Now</div>
    </div>
  </div>
</section>
