<style></style>
<section class="larkspur-baby-sec">
  <div class="larkspur-baby-container">
    <div class="larkspur-baby-calender-flex">
      <div class="larkspur-calender-image-main">
        <div class="banner-video-div">
          <video playsinline autoplay loop muted class="video-customer">
            {% if section.settings['banner-video'] != blank %}
              <source src="{{ section.settings.banner-video.sources[0].url }}">
            {% endif %}
          </video>
        </div>
        <div class="banner-text-div">
          <div class="video-banner-content-main">
            <h3 class="video-banner-title">{{ section.settings['banner-heading-desc'] }}</h3>
            <div class="video-banner-button">
              <a href="#" class="button-video-link">{{ section.settings['banner-shop-btn'] }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Baby Banner",
  "settings": [
    {
    "type": "video",
    "id": "banner-video",
     "label": "Banner Video"
    },
    {
    "type": "text",
    "id": "banner-heading-desc",
    "label": "Banner Heading"
    },
    {
    "type": "text",
    "id": "banner-shop-btn",
    "label": "Banner Btn"
    },
  ],
  "presets": [
    {
      "name": "Larkspur Baby Banner"
    }
  ]
}
{% endschema %}
